<template name="home">
  <div class="container">
    <div class="text-center">
      <h1>Hej Minijulare!</h1>
      <p>
        Detta är en tjänst för att kunna fira jul med varandra
      </p>
      <p>
          Bacon ipsum dolor amet shank t-bone andouille shankle pig. Corned beef short loin tail chicken, tongue filet mignon prosciutto spare ribs ribeye beef ribs flank pork loin brisket. Cupim pork belly landjaeger, hamburger pancetta frankfurter meatloaf beef ribs kielbasa short loin sausage. Chuck hamburger jerky ham hock venison drumstick. Beef ribs boudin ball tip, prosciutto turkey ribeye pancetta spare ribs. Tongue pork swine cupim bresaola.
       </p>
       <p>
          Pork loin prosciutto cupim, beef beef ribs ribeye chuck. Shoulder shank bacon, tri-tip ground round bresaola pig sausage sirloin fatback. Hamburger flank kielbasa boudin. Biltong ground round alcatra, shank drumstick rump bacon sirloin.
      </p>
    </div>
  </div>
</template>
